<main class="main">
  <div class="main__wrapper">
    <article class="main__wrapper-post">
      <h3 class="textMed">¿Por qué se produce aurora boreal?</h3>
      <p class="post_text">las auroras boreales se producen porque partículas eléctricas del sol golpean la atmósfera cerca de los polos, produciendo estallidos de color. La Aurora Boreal se produce de septiembre a octubre y de marzo a abril. Este fenómeno cuando ocurre en el hemisferio norte se llama Aurora Polar.</p>
    </article>
    <article class="main__wrapper-post">
      <h3 class="textMed">¿Cuál es la mejor epoca para ver la aurora boreal?</h3>
      <p class="post_text">Sin lugar a dudas, sin importar qué ciudad elijáis para ir, el mejor momento para viajar a ver Auroras Boreales es en los meses de Octubre a Marzo. Teniendo mayor probabilidad en pleno invierno, es decir Diciembre, Enero y Febrero. En ese periodo, los momento de luz solar son menores, las noches son más largas lo que ayuda a que se den las condiciones precisas para que el fenómeno suceda.</p>
    </article>
      <article class="main__wrapper-post">
        <h3 class="textMed">¿Por qué se mueven las auroras?</h3>
        <p class="post_text">La aurora aparece cuando haces de electrones de alta energía atraviesan las capas superiores de la atmósfera. A medida que estos haces avanzan, la aurora se mueve también.</p>
      </article>
    </article>
  </div>
</main>
