<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:400,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>Aurora Boreal</title>
  </head>
  <body class="body">
    <partial src="_header.html"></partial>
    <partial src="_main.html"></partial>
    <partial src="_footer.html"></partial>
  </body>
</html>
