.header {
  background: url("../images/aurora-background.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  // margin-bottom: 1rem;

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-family: $fontRalBold;
    font-size: $fontXtraBig;
    color: $colorSecondary;
    text-shadow: $textShadow;
  }

  &__menu {
    &__options {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      font-size: $fontSmall;
      font-family: $fontRal;
      text-transform: uppercase;
      height: 10rem;
      padding-bottom: 1rem;
    }
    &__items {
      background-color: $colorBlack;
      padding: 1rem;
      opacity: 0.7;
      border-radius: 1.2rem;
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    &__menu__options {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-end;
      font-size: $fontMed;
      font-family: $fontRal;
      text-transform: uppercase;

      &__items {
        background-color: $colorBlack;
        padding: 2rem;
        opacity: 0.7;
        border-radius: 1.2rem;
      }
    }
  }
}
