/* Color */

$colorWhite: #f3f4f5;
$colorBlack: rgb(0, 0, 0);
$colorPrimary: rgb(23, 146, 134);
$colorSecondary: rgb(109, 233, 220);

/* Font-family */

$fontOpen: "Open Sans", sans-serif;
$fontOpenBold: "OpenSans-Semibold";
$fontRal: "Raleway", sans-serif;
$fontRalBold: "Raleway-Bold";

/* Font-size */

$fontXtraSmall: 1.2rem;
$fontSmall: 1.6rem;
$fontMed: 2rem;
$fontBig: 3.4rem;
$fontXtraBig: 4.4rem;

/* Font-weight */

$WLight: 300;
$WNormal: 400;
$WMedium: 500;
$WBig: 600;

/* Line-Height */

$lineNomal: 1.5;
$lineBig: 2;

/* Text-shadow */
$textShadow: 2px 2px 4px #000000;
